<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>飞行爬虫数据返回</title>
  <style type="text/css">
    body {
      background-color: #f0e9e4;
      margin-left: 40%;
    }
    body,td,th {
      font-size: xx-large;
    }
  </style>
    <script src="../js/jquery-3.1.1.min.js"></script>
</head>
<body>
<h3><strong style="color: #D12573; font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif; text-align: left; font-size: 24px;"> FLIGHT CONTROL PANEL</h3>
 <h1 style="font-size: 18px; color: #9F4680;">经纬度反馈</h1>
<span style="font-family: '华文隶书'; font-size: 18px;"><p>中心点经纬度：{{loc}}</p><span style="text-align: left">
<span style="font-family: '华文隶书'; font-size: 18px;"><p>左上点经纬度: {{rng}}</p><span style="text-align: left">
  <p>—————————————</p>
  <h2 style="font-size: 18px; color: #c63739;">频率控制</h2>
<span style="font-family: '华文隶书'; font-size: 18px;"><p>LED_time: {{LED_time}}</p><span style="text-align: left">
<span style="font-family: '华文隶书'; font-size: 18px;"><p>crawler_time:{{crawler_time}}</p><span style="text-align: left">

<a href='/'>返回原界面<a>
</body>